.time{
  color: rgb(168, 168, 179);
  width: 150px;
  height: 25px;
  border: 1px solid rgb(168, 168, 179);
  border-radius: 5px;
}

.submit{
  color: white;
  background-color: #1E5CC4;
  border: 1px solid #1E5CC4;
  border-radius: 5px;
  width: 70px;
}

.log{
  width: 90%;
}

.log_line{
  border: 1px solid rgb(218, 218, 218);
  color: #1E5CC4;
  text-align: center;
}