/*屏幕宽度小于700px时*/
@media screen and (max-width:700px){
    .left{
        width: 0px;
        height: 0px;
    }
    .right{
        text-align: center;
        height: 100%;
        position:static;
    }
    .login_table{ 
        transform:translate(-50%,-65%);
    }
}

/*屏幕宽度大于700px时*/
@media screen and (min-width:700px){
    .left{
        float: left;
        width: 50%;
        height: 100%;
    }
    .right{  
        height: 100%;
        float: right;
        position:relative;
    }
    .login_table{ 
    transform:translate(-50%,-70%);
    }
}

html, body{
	width: 100%;
	height: 100%;
}

/*左边整体div*/
.left{
    height: 100%;
    position:relative;
    background-color: #1E5CC4;
}

/*右边整体div*/
.right{
    width: 50%;
    height: 100%;
}

* {
	margin: 0;
	padding: 0;
}

/*左边背景图片+三个标题*/
.title{
    position: absolute;
    width: 68%;
    height: 70%;
    top: 50%;
    left: 50%;
    transform:translate(-60%,-65%);
}

/*背景图片*/
#backgrand{
    width: 80%;
    height: 95%;
}

.title1{
    color: rgb(255, 255, 255);
    font-family: Noto Serif;
    font-size: 2.5vw;
}

.title2{
    opacity: 0.7;
    color: rgb(251, 252, 253);
    font-family: Roboto;
    font-size: 2vw;
}

.title3{
    color: rgb(251, 252, 253);
    font-family: Noto Sans SC;
    font-size: 1.5vw;
}

/*登陆部分小div，控制所有内容显示*/
.login_table{
    position: absolute;
    width: 320.23px;
    height: 296.77px;
    top: 50%;
    left: 50%;
}

/*project logo*/
.logo_whole{
    text-align: center;
}
#wholelink{
    width: 89.6px;
    height: 57.2px;
    
}

div.line{
    height: 0;
    border-top: 1px solid rgb(168, 168, 179);
    text-align: center;
}
span.text{
    position:relative;
    top:-14px;
    background-color:#fff;
    color: rgb(168, 168, 179);
}
form[type=text]{
    width: 320px;
    height: 50px;
    border: 1px solid rgb(168, 168, 179);
    border-radius: 8px;
}

.google_login{
    position: relative;
    width: 320px;
    height: 50px;
    box-sizing: border-box;
    
    border: 1px solid rgb(168, 168, 179);
    border-radius: 8px;
    
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 13px 116px 13px 116px;
}

#google_href{
    text-transform: none;
    text-decoration: none;
}

.google_img{
    position: static;
    width: 24px;
    height: 24px;
}
.google_title{
    position: static;
    width: 133px;
    height: 19px;
    white-space: nowrap; 
    
    color: rgb(41, 41, 46);
    font-family: Roboto;
    font-size: 16px;
    font-weight: 500;
    line-height: 19px;
    letter-spacing: 0%;
    text-align: left;
    
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 13px 116px 13px 116px;
    
    flex: none;
    order: 1;
    flex-grow: 0;
    margin: 0px 8px;
}

.username,.password{
    color: rgb(168, 168, 179);
    width: 320px;
    height: 50px;
    border: 1px solid rgb(168, 168, 179);
    border-radius: 8px;
}

.submit_button{
    background-color: #1E5CC4;
    color: white;
    width: 320px;
    height: 50px;
    border: 2px solid #1E5CC4;
    border-radius: 8px;
}

#forgot{
    position: absolute;
    color: rgb(125, 125, 133);
    font-family: Noto Sans SC;
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 0px;
    text-decoration: none;
    right: 0;
}
#register{
    position: absolute;
    font-family: Noto Sans SC;
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 0px;
    text-decoration: none;
    right: 0;
}
